---
- name: 1. Setup K3s Control Plane Node
  hosts: k3s_servers
  become: true
  roles:
    - firewallSetupControlNodes
    - k3sControlNode

- name: 2. Setup K3s Agent Nodes
  hosts: k3s_agents
  become: true
  roles:
    - firewallSetupWorkerNodes
    - k3sWorkerNode
