---
- name: 1. Setup K3s Control Plane Node
  hosts: k3s_servers
  become: true
  roles:
    - firewallSetupControlNodes
    - k3sControlNode

- name: 2. Get K3s Join Token and Server IP and set Group Vars
  hosts: k3s_servers[0] # Target only the first server (kubetest01)
  become: true
  gather_facts: false
  tasks:
    - name: Get K3s token from server
      ansible.builtin.slurp:
        src: /var/lib/rancher/k3s/server/node-token
      register: k3s_token_file
      # k3s_token_file.content is now available, but it's base64 encoded

    - name: Set K3s variables for the worker nodes
      ansible.builtin.add_host:
        name: "{{ item }}"
        # Define k3s_token by decoding the slurp output directly
        k3s_token: "{{ k3s_token_file.content | b64decode | trim }}"
        # Define k3s_server_url using the hostvars entry directly
        k3s_server_url: "https://{{ hostvars[inventory_hostname]['ansible_host'] }}:6443"
      delegate_to: localhost
      run_once: true
      with_items: "{{ groups['k3s_agents'] }}"
      # Now, k3s_token and k3s_server_url are defined in hostvars for every worker.

    - name: Display K3s token and server URL (optional)
      ansible.builtin.debug:
        msg: "Token: {{ k3s_token_file.content | b64decode | trim }}, Server URL: https://{{ hostvars[inventory_hostname]['ansible_host'] }}:6443"
      delegate_to: localhost
      run_once: true

- name: 3. Setup K3s Agent Nodes
  hosts: k3s_agents
  become: true
  roles:
    - firewallSetupWorkerNodes
    - k3sWorkerNode