---
- name: Check if UFW is installed
  ansible.builtin.stat:
    path: /usr/sbin/ufw
  register: ufwInstalled

- name: Check if ufw is enabled
  ansible.builtin.command:
    cmd: ufw status
  register: ufwStatus
  when: ufwInstalled.stat.exists
  changed_when: false
  failed_when: false

- name: Open Firewall ports needed for Docker Swarm node communication
  community.general.ufw:
    rule: 'allow'
    port: "{{ item.port }}"
    proto: "{{ item.proto }}"
  loop:
    - port: 2377
      proto: tcp
    - port: 4789
      proto: udp
    - port: 7946
      proto: tcp
    - port: 7946
      proto: udp
  when:
    - "'Status: active' in (ufwStatus.stdout | default(''))"
    - ufwInstalled.stat.exists
  notify: Restart UFW





