---
# This role installs K3s as a server node.
- name: add the rancher-k3s-common repo
  ansible.builtin.copy:
    src: rancher-k3s-common.repo
    dest: /etc/yum.repos.d/rancher-k3s-common.repo
    owner: root
    group: root
    mode: "0644"

- name: Install the k3s-selinux package
  ansible.builtin.dnf:
    name: k3s-selinux
    state: present
    update_cache: true
  when:
    - ansible_facts['os_family'] == "RedHat"

- name: Download k3s binary
  ansible.builtin.get_url:
    url: "https://github.com/k3s-io/k3s/releases/download/{{ k3s_version }}/k3s"
    dest: /usr/local/bin/k3s
    mode: "0755"
    owner: root
    group: root
  register: k3s_binary_download

- name: Create symlinks for k3s utilities
  ansible.builtin.file:
    src: /usr/local/bin/k3s
    dest: "/usr/local/bin/{{ item }}"
    state: link
  loop:
    - kubectl
    - crictl
    - ctr

- name: Create K3s config directory
  ansible.builtin.file:
    path: /etc/rancher/k3s
    state: directory
    mode: "0755"
    owner: root
    group: root

- name: Create systemd service file and env file
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: "0755"
  loop:
    - src: k3s.service
      dest: /etc/systemd/system/k3s.service
    - src: k3s.service.env
      dest: /etc/systemd/system/k3s.service.env

- name: Enable and Start K3s Service
  systemd:
    name: k3s
    state: started
    enabled: yes
    daemon_reload: yes

- name: Wait for K3s to be ready and generate the token
  ansible.builtin.wait_for:
    path: /var/lib/rancher/k3s/server/node-token
    timeout: 300
    msg: "K3s server token did not appear within 300 seconds."

- name: Read node-token from server
  ansible.builtin.slurp:
    src: /var/lib/rancher/k3s/server/node-token
  register: serverTokenBase64

- name: Store node-token as a fact
  ansible.builtin.set_fact:
    k3sToken: "{{ serverTokenBase64.content | b64decode | trim }}"
  delegate_to: localhost
  run_once: true
