---
- name: Check if firewalld i installed
  ansible.builtin.stat:
    path: /usr/sbin/firewalld
  register: firewalldInstalled

- name: Check if Firewalld service is active
  ansible.builtin.command:
    cmd: systemctl is-active firewalld.service
  register: firewalldStatus
  when: firewalldInstalled.stat.exists
  changed_when: false
  failed_when: false

- name: Open firewall ports needed for Docker Swarm node communication
  ansible.posix.firewalld:
    port: "{{ item.port }}/{{ item.proto }}"
    permanent: true
    state: enabled
    immediate: false
  loop:
    - port: 22 # ssh port
      proto: tcp
    - port: 6443 # Kubernetes API Port
      proto: tcp
    - port: 8472 # Flannel VXLAN
      proto: udp
    - port: 10250 # Kubelet Metrics
      proto: tcp
    - port: '30000:32767' # Nodeport ranges
      proto: tcp
  when:
    - firewalldInstalled.stat.exists
    - firewalldStatus.stdout.strip() == "active"
  notify: Reload Firewalld service
      